* {
  background-color: #F3F3F3;
}

.main-title {
  margin-top: 6%;
  font-size: 400%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
}

.button-ios {
  background-color: #000000;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-family: Raleway;
  font-style: normal;
  border-radius: 12px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.button-android {
  background-color: #4c8246;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-family: Raleway;
  font-style: normal;
  border-radius: 12px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.button-tiktok {
  background-color: #554682;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-family: Raleway;
  font-style: normal;
  border-radius: 12px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.button-discord {
  background-color: #468282;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-family: Raleway;
  font-style: normal;
  border-radius: 12px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.images {
  text-align: center;
  width: 80%;
  height: auto;
}

.last-row {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

a:link {
  text-decoration:none;
  color:black;
}

a:visited {
  color:black;
}
